{% extends 'base.html' %}
{% block title %}Welcome!{% endblock %}
{% load streak_tags %}
{% load staticfiles %}

{% block content %}
 {# Top block #}
  <h1 class="streak_headline">
  {% if user.first_name %}
  {{ user.first_name }}'s Streaks
  {% else %}
  {{ user }}'s Streaks
  {% endif %}
  </h1>
  <h4 class="streak_headline">Please note: this is a prototype interface</h4>
  
  {# AJAX test buttons #}
  <div id="buttons">
  <button class="post_button">POST</button>
  <button class="delete_button">DELETE</button>
  <button class="refresh_button">REFRESH</button>
  <button id="account_options">Account Options</button>
  <button id="add_streak">Add streak</button>
  </div>

  <div id="add_form">
  {{ addform }}
  <button id="add_form_hide">Close</button>
  </div>

  {# Account options #}
  <div id="dash_options">
  <hr>
  <h3>Account options</h3>
  <span><a href="/accounts/email/">Email options</a></span> |
  <span><a href="/accounts/password/change/">Change password</a></span> |
  <span>Email status: {% if request.user.profile.account_verified %}
  Verified {% else %} Unverified {% endif %}</span>
  <br /><br />
  <button id="account_options_hide">Close</button>
  <hr>
  </div>

  <div class="messages" id="error">
  <p>I'm sorry, there was an error.</p>
  </div>

  {# Streaks #}
  <div class="streaks">
  {% for i in streaks %}
  <div class="single_streak" id="streak_{{ i.id }}">
    <p id="activity">{{ i.activity }}</p>
      <p>Started: {{ i.start }}</p>

      {# Generate streak boxes - hack until JS implemented #}
      <p>{{ i.current_streak | gen_multiply | safe }}</p>
  
      <p class="big_numbers" id="current_streak_{{ i.id }}">{{ i.current_streak }}</p>

      <span id="longest_streak_text">Longest streak:</span>
      <span class="med_numbers" id="longest_streak_{{ i.id }}">{{ i.longest_streak }}</span>

      <p>Since: {{ i.current_streak | date_delta }}</p>

        {# Blank space if notes do not exist #}
        {% if i.notes == None %}
        {% else %}<p>Notes: {{ i.notes }}</p>{% endif %}

      <br />
      <button class="id_test">ID Test {{ i.id }}</button>
      <button class="delete_button">Delete streak</button>
      <button class="increase_button">Increase streak</button>


  </div>
  {% endfor %}
  <hr>
  </div>

{% endblock %}

{% block scripts %}

<script src="{% static 'vendor/angular.min.js' %}"></script>
<script src="{% static 'vendor/angular-resource.min.js' %}"></script>
<script src="{% static 'js/custom.js' %}"></script>
<script src="{% static 'js/app.js' %}"></script>
<script src="{% static 'js/controllers/streaks.js' %}"></script>

{% endblock %}

{% block auth-buttons %}

<li><a href="/logout">Logout</a></li>

{% endblock %}