{% extends 'base.html' %}
{% block title %}Welcome!{% endblock %}
{% load streak_tags %}
{% load staticfiles %}

{% block content %}
 {# Top block #}
  <h1 class="streak_headline">
  {% if user.first_name %}
  {{ user.first_name }}'s Streaks
  {% else %}
  {{ user }}'s Streaks
  {% endif %}
  </h1>
  <h4 class="streak_headline">Please note: this is a prototype interface</h4>
  <hr>

<button class="test_button">Test</button>
  {# Test box #}
  <div class="test_box">
  </div>
  {# Streaks #}
  {% for i in streaks %}
  <div class="streaks">
    <p id="activity">{{ i.activity }}</p>
      <p>Started: {{ i.start }}
      <p id="longest_streak">Longest streak: {{ i.longest_streak }}</p>

      {# Generate streak boxes - hack until JS implemented #}
      <p>{{ i.current_streak | gen_multiply | safe }}</p>
  
      <p id="current_streak">{{ i.current_streak }}</p>
      <p>Since: {{ i.current_streak | date_delta }}</p>


        {# Blank space if notes do not exist #}
        {% if i.notes == None %}
        {% else %}<p>Notes: {{ i.notes }}</p>{% endif %}
  
  </div>
  <hr>
  {% endfor %}

  {# Account options #}
  <div class="dash_options">
  <h3>Account options</h3>
  <span><a href="/accounts/email/">Email options</a></span> |
  <span><a href="/accounts/password/change/">Change password</a></span> |
  <span>Email status: {% if request.user.profile.account_verified %}
  Verified {% else %} Unverified {% endif %}</span>
  </div>

{% endblock %}

{% block auth-buttons %}

<li><a href="/logout">Logout</a></li>

{% endblock %}