{% extends 'base.html' %}
{% block title %}Welcome!{% endblock %}
{% load streak_tags %}

{% block content %}
  <h1 class="streak_headline">
  {% if user.first_name %}
  {{ user.first_name }}'s Streaks
  {% else %}
  {{ user }}'s Streaks
  {% endif %}
  </h1>
  <hr>
  {% for i in streaks %}
  <div class="streaks">
    <p id="activity">{{ i.activity }}</p>
 {{ i.current_streak | gen_multiply | safe }}
  <p id="current_streak">{{ i.current_streak }}</p>
  <p id="longest_streak">Longest streak: {{ i.longest_streak }}</p>
  </div>
  <hr>
  {% endfor %}
  <div class="dash_options">
  <h3>Account options</h3>
  <span><a href="/accounts/email/">Email options</a></span> |
  <span><a href="/accounts/password/change/">Change password</a></span> |
  <span>Email status: {% if request.user.profile.account_verified %}
  Verified {% else %} Unverified {% endif %}</span>
  </div>

{% endblock %}

{% block auth-buttons %}

<li><a href="/logout">Logout</a></li>

{% endblock %}