{% extends 'base.html' %}
{% block title %}Welcome!{% endblock %}

{% block content %}
  <div class="jumbotron">
    <h1>Welcome to SkillStreak!</h1>
    <p>The best tool available for simple, effective habit tracking.</p>
    <p><a class="btn btn-primary btn-lg">Learn more</a></p>
  </div>

{% endblock %}

{% block signin-form %}
        <div id="navbar" class="navbar-collapse collapse">
          <form class="navbar-form navbar-right" 
          action="/" method="post">
              {% csrf_token %}
              {% for field in form %}
            <div class="form-group">
                <input id="id_{{ field.id_for_label }}" name="{{ field.html_name }}" type="{{ field.label }}" value="{{ field.label }}" class="form-control">
            </div>
            {% endfor %}

            <button type="submit" class="btn btn-success">Sign in</button>
          </form>
        </div>
        <!--/.navbar-collapse -->
{% endblock %}


