{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block page_content %}

    <div class="jumbotron">
    Hello,
    	{% if current_user.is_authenticated() %}
    		{{ current_user.username }}
    	{% else %}
			Friend
		{% endif %}!
    </div>

	<div class="row">
		<div class="col-xs-4">
			<h1>Progress, Visualized</h1>
			<p>
		    Skill Streak is a simple web app for keeping track of repetitions. When building new habits or trying to learn new skills, it helps a great deal to have a visualization of that progress.
		    </p>
		    <a href="#" class="btn btn-success">Learn More &raquo;</a>
    	</div>
    	<div class="col-xs-4">
			<h1>Satisfying</h1>
			<p>
		    Once you have a streak built up, you'll find that you don't want to see it broken. It's a simple trick to keep you on track!
		    </p>
    	    <a href="#" class="btn btn-success">Learn More &raquo;</a>
    	</div>
    	<div class="col-xs-4">
			<h1>Social Enforcement</h1>
			<p>
		    Show your friends how well you're doing and encourage them to start their own Skill Streaks!
		    </p>
    	    <a href="#" class="btn btn-success">Learn More &raquo;</a>
    	</div>
	</div>

{% endblock %}